<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me at 
  <a href="http://myhanhpnv.hol.es">Tran hi My Hanh</a>.
</p>
<p>
Phone: <a href="#">01697 795 917</a>
</p>
Mail: <a href="#">myhanhqt96@gmail.com</a>